{% extends "Layouts/layout.html" %}
{% load static %}

{% block CSS %}

<link rel="stylesheet" href="{% static 'assets/vendors/simple-datatables/style.css' %}">
<link rel="stylesheet" href="{% static 'assets/vendors/fontawesome/all.min.css' %}">

<style>
    .fontawesome-icons {
        text-align: center;
    }

    .fontawesome-icons .the-icon svg {
        font-size: 24px;
    }

    .alert {
        position: fixed;
        bottom: 10px;
        right: 10px;
        z-index: 9999;
        width: 500px;
        display: none;
    }
</style>

{% endblock %}

{% block body_content %}
<div class="alert alert-success alert-dismissible show fade" id="alert-success">
    This is a success alert.
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>

<div class="alert alert-danger alert-dismissible show fade" id="alert-unsuccess">
    This is a danger alert.
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>


<div class="page-heading">
    <div class="page-title">
        <div class="row">
            <div class="col-12 col-md-6 order-md-1 order-last">
                <h3>Classes</h3>
                <p class="text-subtitle text-muted">For user to check they list</p>
            </div>

            <div class="col-12 col-md-6 order-md-2 order-first">
                <nav aria-label="breadcrumb" class="breadcrumb-header float-start float-lg-end">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="index.html">Dashboard</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Classes</li>

                    </ol>

                </nav>
            </div>
        </div>
    </div>
</div>

<section class="section">

    <div class="card">
        <div class="card-header">
            Simple Datatable
        </div>
        <div class="card-body">
            <table class="table table-striped" id="table1">
                <thead>
                    <tr>
                        <th>Name</th>

                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for class in classes_list %}
                    <tr>
                        <td>{{ class.name }}</td>
                        <td>
                            <!-- <a class="btn btn-sm rounded-pill btn-outline-secondary" title="edit">
                                <span class="fa-fw select-all fas"></span> Edit
                            </a> -->
                            <button type="button" class="btn me-2 button_form_edit_class" data-bs-toggle="modal"
                                data-bs-target="#staticBackdrop" id="button_form_edit_class"
                                data-class-id="{{ class.id }}" data-class-name="{{ class.name }}" onclick="formEditClass()">
                                <span class="fa-fw select-all fas"></span> Edit
                            </button>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>

            </table>
            <!-- Button trigger modal -->
            <button type="button" class="btn me-2 " data-bs-toggle="modal" data-bs-target="#staticBackdrop"
                id="button_form_add_class" onclick="formAddClass()">
                 <div class="buttons">
                    <a href="#" class="btn btn-primary rounded-pill">Add Class</a>
                    
                </div>
            </button>

            




            <!-- Modal Add Class -->
            <div class="modal fade modal w-100" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false"
                tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered ">
                    
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title " id="title_add_class">Add Class</h5>
                            <h5 class="modal-title " id="title_edit_class">Edit Class</h5>

                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>

                        <div class="modal-body">

                            <form id="add_class_form" method="POST" action="{% url 'dashboard_classes' %}"
                                enctype="multipart/form-data">
                                {% csrf_token %}

                                <!-- First Name -->
                                <div class="col-md-12 col-lg-12">
                                    <div class="form-group">
                                        <label for="class_name">Class Name </label>
                                        <input type="text" class="form-control" id="add_class_name" name="class_name"
                                            placeholder="Enter Class Name" required />
                                    </div>
                                </div>

                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary"
                                        data-bs-dismiss="modal">Close</button>

                                    <button type="submit" class="btn btn-primary" id="button_add_class">Add</button>


                                </div>
                            </form>

                            <form id="edit_class_form" method="POST" enctype="multipart/form-data">
                                {% csrf_token %}

                                <!-- First Name -->
                                <div class="col-md-12 col-lg-12">
                                    <div class="form-group">
                                        <label for="class_name">Class Name </label>
                                        <input type="text" class="form-control" id="edit_class_name" name="class_name"
                                            placeholder="Enter Class Name" required />
                                    </div>
                                </div>

                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary"
                                        data-bs-dismiss="modal">Close</button>

                                    <button type="submit" class="btn btn-primary" id="button_edit_class">Edit</button>


                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>
    <!-- <div class="alert alert-success" role="alert" id="alert-success" style="display: none;">
        This is a success alert—check it out!
    </div> -->


</section>
{% endblock %}

{% block js %}
<script src="{% static 'assets/vendors/simple-datatables/simple-datatables.js' %}"></script>
<script src="{% static 'assets/vendors/fontawesome/all.min.js' %}"></script>


<script>
    // Simple Datatable
    let table1 = document.querySelector('#table1');
    let dataTable = new simpleDatatables.DataTable(table1);
</script>


<script>
    function formAddClass() {
        titleAddClass = document.getElementById('title_add_class');
        titleEditClass = document.getElementById('title_edit_class');
        addClassForm = document.getElementById('add_class_form');
        editClassForm = document.getElementById('edit_class_form');

        editClassForm.style.display = 'none';
        addClassForm.style.display = 'block';
        titleAddClass.style.display = 'block';
        titleEditClass.style.display = 'none';
    }


    function formEditClass() {
        titleAddClass = document.getElementById('title_add_class');
        titleEditClass = document.getElementById('title_edit_class');
        addClassForm = document.getElementById('add_class_form');
        editClassForm = document.getElementById('edit_class_form');

        editClassForm.style.display = 'block';
        addClassForm.style.display = 'none';
        titleAddClass.style.display = 'none';
        titleEditClass.style.display = 'block';
    }
</script>

<script>
    document.querySelectorAll('#button_form_edit_class').forEach(button => {
        button.addEventListener('click', function() {
            const classId = this.getAttribute('data-class-id');
            const className = this.getAttribute('data-class-name');

            if (classId) {
                document.getElementById('edit_class_name').value = className;

                
                const url = "/dashboard/class/" + classId ;
                document.getElementById('edit_class_form').setAttribute('action', url);
            } else {
                console.error('classId is empty');
            }
        });
    });
</script>
{% endblock %}