{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard - Mazer Admin Dashboard</title>

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700;800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'assets/css/bootstrap.css' %}">

    <link rel="stylesheet" href="{% static 'assets/vendors/chartjs/Chart.min.css'  %}">

    <link rel="stylesheet" href="{% static 'assets/vendors/iconly/bold.css'  %}">

    <link rel="stylesheet" href="{% static 'assets/vendors/perfect-scrollbar/perfect-scrollbar.css'  %}">
    <link rel="stylesheet" href="{% static 'assets/vendors/bootstrap-icons/bootstrap-icons.css'  %}">
    <link rel="stylesheet" href="{% static 'assets/css/app.css'  %}">
    <link rel="shortcut icon" href="{% static 'assets/images/favicon.svg'  %}" type="image/x-icon">

    {% block CSS %}
    {% endblock %}

</head>

<body>
    <div id="app">
        {% include "Layouts/sidebar.html" %}

        <div id="main" class='layout-navbar'>
            {% include 'Layouts/header.html' %}

            <div id="main-content">
                {% block body_content %}
                {% endblock %}

                {% include "Layouts/footer.html" %}
            </div>
        </div>
               
    </div>

    <script src="{% static 'assets/vendors/perfect-scrollbar/perfect-scrollbar.min.js'  %}"></script>
    <script src="{% static 'assets/js/bootstrap.bundle.min.js'  %}"></script>

    <script src="{% static 'assets/vendors/apexcharts/apexcharts.js'  %}"></script>
    <script src="{% static 'assets/js/pages/dashboard.js'  %}"></script>

    <script src="{% static 'assets/vendors/chartjs/Chart.min.js'  %}"></script>

    <script src="{% static 'assets/js/main.js'  %}"></script>

    {% block js %}
    {% endblock %}

</body>

</html>