{% extends "Layouts/auth_layout.html" %}
{% load static %}

{% block content %}
<!--    
    {% if form.errors %}
    <p>Your username and password didn't match. Please try again.</p>
    {% endif %}

    {% if next %}
        {% if user.is_authenticated %}
            <p>Your account doesn't have access to this page. To proceed,
            please login with an account that has access.</p>
        {% else %}
            <p>Please login to see this page.</p>
        {% endif %}
    {% endif %}

    <form method="post" action="{% url 'login' %}">
    {% csrf_token %}
    <table>
        <tr>
        <td>{{ form.username.label_tag }}</td>
        <td>{{ form.username }}</td>
        </tr>
        <tr>
        <td>{{ form.password.label_tag }}</td>
        <td>{{ form.password }}</td>
        </tr>
    </table>
    <input type="submit" value="login">
    <input type="hidden" name="next" value="{{ next }}">
    </form> -->

    <!-- {# Assumes you set up the password_reset view in your URLconf #}
    <p><a href="{% url 'password_reset' %}">Lost password?</a></p> -->

    <div class="row h-100">
        <div class="col-lg-5 col-12">
            <div id="auth-left">
                <div class="auth-logo">
                    <a href="index.html"><img src="{% static 'assets/images/logo/logo.png' %}" alt="Logo"></a>
                </div>
                <h1 class="auth-title">Log in.</h1>
                <p class="auth-subtitle mb-5">Log in with your data that you entered during registration.</p>
    
                {% if form.errors %}
                    <p>Your username and password didn't match.
                        Or Your account is not confirmed <br>
                        Please try again.</p>
                {% endif %}
                
                {% if next %}
                    {% if user.is_authenticated %}
                        <p>Your account doesn't have access to this page. To proceed, please login with an account that has access.</p>
                    {% else %}
                        <p>Please login to see this page.</p>
                    {% endif %}
                {% endif %}
    
                <form method="post" action="{% url 'login' %}">
                    {% csrf_token %}
    
                    <div class="form-group position-relative has-icon-left mb-4">
                        <input type="text" class="form-control form-control-xl" placeholder="Username" name="username">
                        <div class="form-control-icon">
                            <i class="bi bi-person"></i>
                        </div>
                    </div>
    
                    <div class="form-group position-relative has-icon-left mb-4">
                        <input type="password" class="form-control form-control-xl" placeholder="Password" name="password">
                        <div class="form-control-icon">
                            <i class="bi bi-shield-lock"></i>
                        </div>
                    </div>
    
                    <input class="btn btn-primary btn-block btn-lg shadow-lg mt-5" type="submit" value="Login">
                    <input type="hidden" name="next" value="{{ next }}">
                </form>
                <div class="text-center mt-5 text-lg fs-4">
                    <p class="text-gray-600">Don't have an account? <a href="{% url 'dashboard_registration_main' %}" class="font-bold">Sign up</a>.</p>
                    <p><a href="{% url 'password_reset' %}">Forgot password?</a></p>
                </div>
                <!-- dashboard_forgot_password -->
            </div>
        </div>
        <div class="col-lg-7 d-none d-lg-block">
            <div id="auth-right">
            </div>
        </div>
    </div>

{% endblock %}

