{% extends "Layouts/auth_layout.html" %}
{% load static %}


{% block CSS %}
<style>
    #main {
        margin-left: 0px;
    }
</style>

{% endblock %}


{% block content %}


<div id="container">
    <div id="contant">
        <p class="text-center">مقدمة عن التطبيق</p>
    </div>
    <div class="text-center" style="margin: 30px;">
            <button type="button" class="btn btn-primary" id="button_previous_step" style="display: none;">previous</button>
            <button type="button" class="btn btn-primary" id="button_next_step" style="  margin-top: 10px;">next</button>
    </div>
</div>

{% endblock %}