{% extends "Layouts/auth_layout.html" %}
{% load static %}

{% block content %}
    <div class="row h-100">
        <div class="col-lg-5 col-12">
            <div id="auth-left">
                <div class="auth-logo">
                    <a href="index.html"><img src="assets/images/logo/logo.png" alt="Logo"></a>
                </div>
                <h1 class="auth-title">Please wait for account confirmation</h1>
                <!-- <p class="auth-subtitle mb-5">Input your email and we will send you reset password link.</p> -->

                
                <div class="text-center mt-5 text-lg fs-4">
                    <p class='text-gray-600'>return to <a href="{% url 'login' %}" class="font-bold">Log
                            in</a>.
                    </p>
                </div>
            </div>
        </div>
        <div class="col-lg-7 d-none d-lg-block">
            <div id="auth-right">

            </div>
        </div>
    </div>
{% endblock %}


