{% extends "Layouts/layout.html" %}
{% load static %}

{% block CSS %}

<link rel="stylesheet" href="{% static 'assets/vendors/simple-datatables/style.css' %}">
<link rel="stylesheet" href="{% static 'assets/vendors/fontawesome/all.min.css' %}">

<style>
    .fontawesome-icons {
        text-align: center;
    }

    .fontawesome-icons .the-icon svg {
        font-size: 24px;
    }
</style>

{% endblock %}

{% block body_content %}
<div class="page-heading">
    <div class="page-title">
        <div class="row">
            <div class="col-12 col-md-6 order-md-1 order-last">
                <h3>Students</h3>
                <p class="text-subtitle text-muted">For user to check they list</p>
            </div>
            <div class="col-12 col-md-6 order-md-2 order-first">
                <nav aria-label="breadcrumb" class="breadcrumb-header float-start float-lg-end">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="index.html">Dashboard</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Students</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>

<section class="section">
    <div class="card">
        <div class="card-header">
            Simple Datatable
        </div>
        <div class="card-body">
            <form class="form" id="edit_student_form" method="POST" action="{% url 'dashboard_students' %}"
                enctype="multipart/form-data">
                {% csrf_token %}
                <div class="row">

                    <div class="col-md-6 col-lg-6">
                        <div class="form-group">
                            <label for="f_name">First Name</label>
                            <input type="text" id="f_name" class="form-control" placeholder="First Name" name="f_name">
                        </div>
                    </div>

                    <div class="col-md-6 col-lg-6">
                        <div class="form-group">
                            <label for="l_name">Last Name</label>
                            <input type="text" id="l_name" class="form-control" placeholder="Last Name" name="l_name">
                        </div>
                    </div>

                    <div class="col-md-6 col-lg-6">
                        <div class="form-group">
                            <label for="father_name">Father Name</label>
                            <input type="text" id="father_name" class="form-control" placeholder="Father Name"
                                name="father_name">
                        </div>
                    </div>

                    <div class="col-md-6 col-lg-6">
                        <div class="form-group">
                            <label for="mother_name">Mother Name</label>
                            <input type="text" id="mother_name" class="form-control" placeholder="Mother Name"
                                name="mother_name">
                        </div>
                    </div>

                    <div class="col-md-6 col-lg-4">
                        <div class="form-group">
                            <label for="examination_id">Examination Id</label>
                            <input type="number" id="examination_id" class="form-control" name="examination_id"
                                placeholder="Examination Id">
                        </div>
                    </div>

                    <div class="col-md-6 col-lg-4">
                        <div class="form-group">
                            <label for="date">Date</label>
                            <input type="date" id="date" class="form-control" placeholder="Date" name="date">
                        </div>
                    </div>

                    <div class="col-md-6 col-lg-4">
                        <fieldset class="form-group">
                            <label for="city-column">Class </label>
                            <select class="form-select" id="basicSelect" name="Class">
                                {% for classe in classes %}
                                <option value="{{ classe.id }}">
                                    {{ classe.name }}
                                </option>
                                {% endfor %}
                            </select>
                        </fieldset>
                    </div>

                    <div class="col-12 d-flex justify-content-end">
                        <button type="submit" class="btn btn-primary me-1 mb-1">Submit</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

</section>
{% endblock %}

{% block js %}
<script src="{% static 'assets/vendors/simple-datatables/simple-datatables.js' %}"></script>
<script>
    // Simple Datatable
    let table1 = document.querySelector('#table1');
    let dataTable = new simpleDatatables.DataTable(table1);
</script>
<script src="{% static 'assets/vendors/fontawesome/all.min.js' %}"></script>

{% endblock %}