{% extends "Layouts/layout.html" %}
{% load static %}

{% block CSS %}

<link rel="stylesheet" href="{% static 'assets/vendors/simple-datatables/style.css' %}">
<link rel="stylesheet" href="{% static 'assets/vendors/fontawesome/all.min.css' %}">

<style>
    .fontawesome-icons {
        text-align: center;
    }

    .fontawesome-icons .the-icon svg {
        font-size: 24px;
    }
</style>

{% endblock %}

{% block body_content %}
<div class="page-heading">
    <div class="page-title">
        <div class="row">
            <div class="col-12 col-md-6 order-md-1 order-last">
                <h3>Students</h3>
                <p class="text-subtitle text-muted">For user to check they list</p>
            </div>
            <div class="col-12 col-md-6 order-md-2 order-first">
                <nav aria-label="breadcrumb" class="breadcrumb-header float-start float-lg-end">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="index.html">Dashboard</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Students</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>

<section class="section">
    <div class="card">
        <div class="card-header">
            Simple Datatable
        </div>
        <div class="card-body">
            <table class="table table-striped" id="table1">
                <thead>
                    <tr>
                        <th>Type</th>
                        <th>Max Employee</th>
                        <th>Max Request</th>
                        <th>Price</th>
                        <th>For Role</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for pricing in pricing_list %}
                    <tr>

                        <td>{{ pricing.type }}</td>
                        <td>{{ pricing.max_employee_numbers }}</td>
                        <td>{{ pricing.max_request_rate }}</td>
                        <td>{{ pricing.price }}</td>
                        <td>{{ pricing.role__name }}</td>

                        <td>
                            <a class="btn btn-sm rounded-pill btn-outline-info" title="show" href="{% url 'dashboard_show_edit_pricing' pricing_id=pricing.id %}"><span
                                    class="fa-fw select-all fas"></span>show </a>

                        </td>
                    </tr>
                    {% endfor %}
                </tbody>

               
            </table>

            <div class="buttons">
                <a href="{% url 'dashboard_add_pricing' %}" class="btn btn-primary rounded-pill">Add New Pricing</a>
                
            </div>
        </div>
    </div>

</section>
{% endblock %}

{% block js %}
<script src="{% static 'assets/vendors/simple-datatables/simple-datatables.js' %}"></script>
<script>
    // Simple Datatable
    let table1 = document.querySelector('#table1');
    let dataTable = new simpleDatatables.DataTable(table1);
</script>
<script src="{% static 'assets/vendors/fontawesome/all.min.js' %}"></script>

{% endblock %}