{% load static %}

<div id="sidebar" class="active">
    <div class="sidebar-wrapper active">
        <div class="sidebar-header">
            <div class="d-flex justify-content-between">
                <div class="logo">
                    <a href="index.html"><img src="{% static 'assets/images/logo/logo.png' %}" alt="Logo" srcset=""></a>
                </div>
                <div class="toggler">
                    <a href="#" class="sidebar-hide d-xl-none d-block"><i class="bi bi-x bi-middle"></i></a>
                </div>
            </div>
        </div>
        <div class="sidebar-menu">
            <ul class="menu">
                <li class="sidebar-item active ">
                    <a href="{% url 'dashboard_index' %}" class='sidebar-link'>
                        <i class="bi bi-grid-fill"></i>
                        <span>Dashboard</span>
                    </a>
                </li>

                <li class="sidebar-title">Menu</li>

                <li class="sidebar-item  has-sub">
                    <a class='sidebar-link'>
                        <i class="bi bi-pentagon-fill"></i>
                        <span>Users</span>
                    </a>
                    <ul class="submenu ">

                        <li class="submenu-item">
                            <a href="{% url 'dashboard_clients' %}" class='sidebar-link'>
                                <i class="bi bi-people-fill"></i>
                                <span>Clients</span>
                            </a>
                        </li>
                        <li class="submenu-item">
                            <a href="{% url 'dashboard_classes' %}" class='sidebar-link'>
                                <i class="bi bi-people-fill"></i>
                                <span>Classes</span>
                            </a>
                        </li>

                        <li class="submenu-item">
                            <a href="{% url 'dashboard_enroll_requests' %}" class='sidebar-link'>
                                <i class="bi bi-box-arrow-in-down-left"></i>
                                <span>Enroll Requests</span>
                            </a>
                        </li>

                        <li class="submenu-item">
                            <a href="{% url 'dashboard_employees' %}" class='sidebar-link'>
                                <i class="bi bi-box-arrow-in-down-left"></i>
                                <span>Employee</span>
                            </a>
                        </li>
                        

                        <li class="submenu-item">
                            <a href="{% url 'dashboard_students' %}" class='sidebar-link'>
                                <i class="bi bi-box-arrow-in-down-left"></i>
                                <span>Students</span>
                            </a>
                        </li>
                    </ul>
                </li>







                {% if user.role.name == 'admin' %}
                <li class="sidebar-item">
                    <a href="{% url 'dashboard_admins' %}" class='sidebar-link'>
                        <i class="bi bi-person-check-fill"></i>
                        <span>admins</span>
                    </a>
                </li>
                {% endif %}
                <li class="sidebar-item">
                    <a href="{% url 'dashboard_pricing' %}" class='sidebar-link'>
                        <i class="bi bi-wallet2"></i>
                        <span>Pricing</span>
                    </a>
                </li>

                <li class="sidebar-item">
                    <a href="{% url 'dashboard_payments' %}" class='sidebar-link'>
                        <i class="bi bi-wallet2"></i>
                        <span>payments</span>
                    </a>
                </li>
                <li class="sidebar-item">
                    <a href="{% url 'dashboard_feedback' %}" class='sidebar-link'>
                        <i class="bi bi-info-circle-fill"></i>
                        <span>feedback</span>
                    </a>
                </li>
                <li class="sidebar-item">
                    <a href="{% url 'dashboard_settings' %}" class='sidebar-link'>
                        <i class="bi bi-gear"></i>
                        <span>Settings</span>
                    </a>
                </li>
            </ul>
        </div>
        <button class="sidebar-toggler btn x"><i data-feather="x"></i></button>
    </div>
</div>